@font-face {
  font-family: "avant";
  src: url("../../assets/Avant Garde Gothic LT Demi Regular.otf");
}

@font-face {
  font-family: "Brandon Bld";
  src: url("../../assets/Brandon_bld.otf");
}

@font-face {
  font-family: "Brandon Blk";
  src: url("../../assets/Brandon_blk.otf");
}

@font-face {
  font-family: "Avang SBB";
  src: url("../../assets/AVANGSBB.TTF");
}

@font-face {
  font-family: "Avang SBM";
  src: url("../../assets/AVANGSBM.TTF");
}

@font-face {
  font-family: "Clan OT";
  src: url("../../assets/ClanOT-Thin.otf");
}
