$purple: #ab1516;
$tan: #8b7f77;
$background: #111010;
$mobile: "screen and (max-width: 500px)";

@import "fonts.scss";
@import "global.scss";
@import "cpv.scss";
@import "modal.scss";
@import "home.scss";
@import "media.scss";
@import "about.scss";
@import "contact.scss";
